body {
  margin: auto;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
}

#welcome-section {
  
}

#welcome-text {
  position: relative;
  top: 30%;
  font-size: 3em;
}

#welcome-section::before {
  content: "";
   display: block;
  position: absolute;
  height: 100%;
  width: 100%;
 background: url(https://images.unsplash.com/photo-1522747776116-64ee03be1dad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
/*   background: url(https://images.unsplash.com/photo-1489644484856-f3ddc0adc923?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80); */
  background-size: cover;
  opacity: .5;
  z-index: -1;
}

#navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: rgba(125,225,125, .1);
  height: 50px;
  margin: 0px;
  padding: 0px;
}

.nav-item {
  color: cornflowerblue;
  font-size: 1em;
  text-align: center;
  flex-basis: 7em;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  
}

.nav-item > a {
  height: 50px;
  color: steelblue;
}

.nav-item > a:link {
  text-decoration: none;
}


.nav-item:hover {
/*   background: linear-gradient(45deg, #A1C8A2, #B1C8A2); */
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  background-color: #A1C8A2;
  box-shadow: 2px 2px 2px slategrey;
  border-radius: 6%;
/*   visibility: hidden;
  transition: .2s; */
}

#welcome-section {
  height: 100vh;
  margin: 0px;
}

#projects {
  background-color: cornflowerblue;
  height: 101vh;
  position: relative;
}

.project-title > h1 {
  position: relative;
  margin: 0px;
  top: 10em;
}

#contact {
  height: 70vh;
}

/* insert media query */
/* vh for viewport */